{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <p>
    {% if success %}
        Password changed successfully!
    {% endif %}
    </p>
    <form action="/changepassword" method="post">
        <fieldset>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="old_password" placeholder="Password" type="password"/>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="New Password" type="password"/>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirm_password" placeholder="Retype Password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </fieldset>
    </form>
{% endblock %}