{% block footer %}
<div class="site-footer">
    <div class="container">
        <div class="row justify-content-center copyright">
            <div class="col-lg-7 text-center">
                <div class="widget">
                    <ul class="social list-unstyled">
                        <li>
                            <a href="https://www.linkedin.com/in/codenameberyl">
                                <span class="icon-linkedin"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/codenameberyl">
                                <span class="icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/codenameberyl/">
                                <span class="icon-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@codenameberyl">
                                <span class="icon-youtube-play"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="widget">
                    <p>&copy; <script>document.write(new Date().getFullYear());</script> Ìròyìn. All Rights Reserved. &mdash; Template designed with love by <a href="https://untree.co">Untree.co</a> <!-- License information: https://untree.co/license/ -->
                    </p>
                </div>
            </div>

            <div id="overlayer"></div>
            <div class="loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}